# Build directories
/build/
/cmake-build-*/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compilers / IDEs
compile_commands.json
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
